
<div class="center-block">
	<h1>{{title}}</h1>
	<form action="" id="search" class="col-md-4">
		<input type="text" class="form-control"><br>
		<button class="pull-right btn btn-primary">Search</button>
	</form>
</div>

