
<div class="center-block">
	<h1>{{title}}</h1>
	{{!-- <h1>{{result.title}}</h1> --}}

	{{#each result}}
		<h1>{{author}}</h1>
		<hr>

	{{/each}}

	<form action="/search" method="post" id="search" class="col-md-4">
		<input name="s" type="text" class="form-control"><br>
		<button class="pull-right btn btn-primary">Search</button>
	</form>
</div>

